<%= turbo_frame_tag :new_note do %>
  <div>
    <h3 class="font-semibold text-xl mb-4">New Note</h3>

    <%=
      form_with model: @note,
        data: {
          turbo_frame: :_top
        },
        class: "w-[500px]" do |f|
    %>
      <div class="flex flex-col mb-4">
        <%= f.label "Title", for: :title %>
        <%= f.text_field :title, autocomplete: :off, class: "px-2 py-1 rounded bg-input " %>
        <%= render "application/forms/field_errors", entity: @note, field: :title %>
      </div>

      <div class="flex justify-center mt-8">
        <%= f.submit class: "px-4 py-1 rounded text-fill bg-primary" %>

        <button
          data-application-target="modalButton"
          data-modal-action="close"
          data-modal-id="new_note"
          class="ml-2 bg-muted rounded px-4 py-1 text-fill"
        >
          Cancel
        </button>
      </div>
    <% end %>
  </div>
<% end %>
