<div>
  <h1 class="font-bold text-5xl">
    Reset your Password
  </h1>

  <%=
    form_with url: token_path(@token),
      method: :patch do |f|
  %>
    <%= f.hidden_field :value, value: @token.value %>

    <div>
      <%= render "application/forms/field_errors", entity: @token, field: :general %>
    </div>

    <div class="flex flex-col">
      <%= f.label :password, "Password", class: "font-semibold text-muted mt-4 mb-2" %>
      <%= f.password_field :password, class: "w-full bg-input rounded-sm appearance-none text-md p-2" %>
      <%= render "application/forms/field_errors", entity: @token, field: :password %>
    </div>

    <div class="flex flex-col">
      <%= f.label :password_confirmation, "Password Confirmation", class: "font-semibold text-muted mt-4 mb-2" %>
      <%= f.password_field :password_confirmation, class: "w-full bg-input rounded-sm appearance-none text-md p-2" %>
      <%= render "application/forms/field_errors", entity: @token, field: :password_confirmation %>
    </div>

    <div class="flex justify-center mt-4">
      <%= f.submit "Save", class: "px-4 py-1 rounded bg-primary text-fill" %>
    </div>
  <% end %>
</div>
