<div>
  <%= render "external/overlay" %>
</div>

<div class="w-full px-8 pt-12">
  <div class="mb-4">
    <%= link_to external_organization_path(current_external_organization.encoded_name), class: "text-primary text-left flex items-center gap-1" do %>
      <i class="w-5 h-5">
        <%= render "application/icons/chevron_left" %>
      </i>
      <span>
        Back to <%= current_external_organization.name %>
      </span>
    <% end %>
  </div>

  <div>
    <div class="flex items-center justify-between">
      <h1 class="text-3xl font-bold">
        <%= @account.name %>
      </h1>

      <div class="text-black flex items-center shrink-0">
        <button
          data-action="click->external--nav#open"
          class="text-black ml-2 -mr-2 md:mr-0"
        >
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>

    <div class="mt-2">
      <%= render "external/inline_nav" %>
    </div>
  </div>

  <% if @live_notes.present? %>
    <ul class="flex flex-wrap flex-col md:flex-row gap-4 mt-8 w-full">
      <li>
        <% @live_notes.each do |note| %>
          <%= render "notes/external_card", note: note %>
        <% end %>

        <li class="hidden only:block">
          <p>No notes are live</p>
        </li>
      </li>
    </ul>
  <% end %>

  <div class="mt-8">
    <p class="font-bold text-xl">Past Notes</p>
    <ul class="flex flex-wrap flex-col md:flex-row gap-4 mt-4 w-full">
      <% @past_notes.each do |note| %>
        <%= render "notes/external_card", note: note, show_date: true %>
      <% end %>

      <li class="hidden -mt-4 only:block text-slate-500">
        <p>None</p>
      </li>
    </ul>
  </div>
</div>
