<%#
  Renders the nav portion of the external overlay menu

  authentication_attempt: An External::AuthenticationAttempt
%>

<% authentication_attempt ||= External::AuthenticationAttempt.new %>

<%= turbo_frame_tag :external_nav do %>
  <% if logged_in? %>
    <div class="flex flex-col items-center justify-center gap-4 mt-16">
      <%=
        link_to external_organization_path(current_external_organization.encoded_name),
          data: {turbo_frame: :_top},
          class: "block text-fill flex" do
      %>
        <i class="mr-3 w-6 h-6">
          <%= render "application/icons/home" %>
        </i>
        <%= current_external_organization.name %>
      <% end %>

      <%=
        link_to external_me_path,
          data: {turbo_frame: :_top},
          class: "block text-fill flex" do
      %>
        <i class="mr-3 w-6 h-6">
          <%= render "application/icons/profile" %>
        </i>
        Profile
      <% end %>

      <%=
        link_to logout_path(forwarding_url: request.original_url),
          data: {turbo_frame: :_top},
          class: "block text-fill flex" do
      %>
        <i class="mr-3">
          <%= render "application/icons/logout" %>
        </i>
        Logout
      <% end %>
    </div>
  <% else %>
    <%= render "external/overlay/sign_in_or_sign_up", authentication_attempt: %>
  <% end %>
<% end %>
