
<% @extra_head_content = capture do %>
  <link rel="canonical" href="https://notespro.church/articles/notion-database">
  <meta property="og:url" content="https://notespro.church/articles/notion-database">

  <title>NotesPro | Retain Teaching With Spaced Repetition</title>
  <meta name="description" content="You probably don't like using your church's ChMS, but you can still utilize technology to make sure people don't fall through the cracks. I'll show you how to create a simple system that you'll actually like using.">

  <meta property="og:title" content="Notes Pro | Help Your Church Retain Teaching With Spaced Repetition">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://notespro-static.s3.us-east-2.amazonaws.com/notespro_og.png">
  <meta property="og:description" content="Use Notes Pro to automatically follow up with your note takes so they retain more information. Studies show that information that is surfaced repeatedly is much more likely to be remembered.">
<% end %>

<h1 class="font-bold text-slate-700 text-4xl md:text-6xl leading-[1.3]">
  <span>
    Help Your Church Retain Teaching With Spaced Repetition
  </span>
</h1>

<div class="p-4 border rounded-xl border-slate-300 mt-12 bg-gradient-to-r from-slate-100/50 to-slate-400/20">
  <p class="text-base font-normal align-super flex justify-between items-center gap-2 text-slate-500">
    <span>
      By Eric Stoutenburg
    </span>

    <span class="text-primary text-sm inline-flex items-center gap-1 font-bold">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path d="M3 4a2 2 0 0 0-2 2v1.161l8.441 4.221a1.25 1.25 0 0 0 1.118 0L19 7.162V6a2 2 0 0 0-2-2H3Z" />
        <path d="m19 8.839-7.77 3.885a2.75 2.75 0 0 1-2.46 0L1 8.839V14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V8.839Z" />
      </svg>

      <%= link_to "hello@notespro.church", "mailto:hello@notespro.church" %>
    </span>
  </p>
</div>

<h3 class="mt-16 text-xl font-bold text-slate-700">
  Our Memory is Bad
</h3>

<p class="text-lg text-slate-600 mt-2">
  People are actually pretty bad at remembering most information. Remember that last book you read? What was the first chapter about? If you remember, you may have a photographic memory, or you may have taken notes, used flashcards or any other means of solidifying information into learned knowledge. Unfortunately a lot of people don't apply basic learning principles to church. They (myself included) simply sit through service, small group and bible study and consume information. Then their brain purges that info right out the next day. The good news is, you can actually help people retain more of the valuable lessons you're teaching them at church. Let's jump in.
</p>

<h3 class="mt-16 text-xl font-bold text-slate-700">
  Tools to Utilize Spaced Repetition
</h3>

<p class="text-lg text-slate-600 mt-2">
  Great, so if we know our brains retain information that comes up repeatedly, how can we apply that to church? Well, we can either convince people to read their bible and study every day (and you should), but we can also utilize everything the modern world has to offer. Tools like email, text message, Facebook, Instagram and more help you surface important (life saving) Gospel Truth to your people. You can think of those tools as extra avenues to reinforce the messages you're teaching in service, small group, etc.
</p>

<h3 class="mt-16 text-xl font-bold text-slate-700">
  Follow-Ups With notespro
</h3>

<p class="text-lg text-slate-600 mt-2">
  However, all of those tools require hard, manual work to ensure that your emails or posts are engaging. Here's where notespro comes in. After a note taker completes their notes for a given week, we'll automatically send reminders or questions you determine right to their email. This will bring your church's teaching top of mind and help their brain solidify it into memory.
</p>

<div class="max-w-2xl mx-auto mt-8">
  <%= render "marketing/index/follow_up" %>
</div>

<h3 class="mt-16 text-xl font-bold text-slate-700">
  Small Group Application Questions
</h3>

<p class="text-lg text-slate-600 mt-2">
  For example, after a small group study you could send out some application questions 1, 3, and 5 days after group. Then they can respond and save their thoughts to the notes for later reference. That's just one example. I'm sure your brain is coming up with a bunch of other ways to use the follow-ups component of notespro. The good news is that it's all possible.
</p>

<ul class="my-8 space-y-4">
  <li class="flex items-center gap-2">
    <i class="text-green-600">
      <%= render "application/icons/check" %>
    </i>

    <p>
      Send application questions
    </p>
  </li>
  <li class="flex items-center gap-2">
    <i class="text-green-600">
      <%= render "application/icons/check" %>
    </i>

    <p>
      Provide next steps
    </p>
  </li>
  <li class="flex items-center gap-2">
    <i class="text-green-600">
      <%= render "application/icons/check" %>
    </i>

    <p>
      Encourge discipleship habits
    </p>
  </li>
</ul>

<p class="text-lg text-slate-600 mt-2">
  Feel free to reach out to me at hello@notespro.church or just sign up to get started!
</p>
