
<%= turbo_frame_tag :staff_organizations do %>
  <section class="p-8 bg-fill rounded-lg">
    <h3 class="font-semibold text-3xl">Organizations</h3>

    <div class="mt-8">

      <div class="grid grid-cols-12 mb-4">
        <div class="col-span-3 ">
          Name
        </div>

        <div class="col-span-2 ">
          Plan
        </div>

        <div class="col-span-2 ">
          Created At
        </div>

        <div class="">
          Users
        </div>

        <div class="">
          Accounts
        </div>

        <div class="">
          Encoded Name
        </div>
      </div>

      <% @organizations.each do |organization| %>

        <div class="relative grid grid-cols-12 mb-4">

          <div class="col-span-3 text-muted">
            <%= organization.name %>
          </div>

          <div class="col-span-2 text-muted">
            <%= organization.plan %>
          </div>

          <div class="col-span-2 text-muted">
            <%= organization.created_at %>
          </div>

          <div class="text-muted">
            <%= organization.users.count %>
          </div>

          <div class="text-muted">
            <%= organization.accounts.count %>
          </div>

          <div class="text-muted col-span-1">
            <%= organization.encoded_name %>
          </div>

          <%# actions %>
          <div class="absolute top-0 right-0 flex justify-end">
            <div
              data-controller="dropdown"
              data-action="click@document->dropdown#handleDocumentClick"
              class="relative"
            >
              <button
                data-action="click->dropdown#toggle"
                data-dropdown-target="selection"
                class="w-6 h-6 inline-block text-muted mr-2"
              >
                <i>
                  <%= render "application/icons/dots" %>
                </i>
              </button>

              <div class="hidden right-4 absolute px-4 py-1 w-40 bg-fill rounded shadow-box z-10" data-dropdown-target="panel">
                <ul class="space-y-2">
                  <li class="text-muted">
                    <button
                      data-application-target="modalButton"
                      data-modal-id="delete_organization_<%= organization.id %>_confirm"
                      data-modal-action="open"
                      class="text-error"
                    >
                      Remove
                    </button>
                  </li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <%# delete confirm modal %>
        <%= render "application/modal", modal_id: "delete_organization_#{organization.id}_confirm" do %>
          <h3 class="font-semibold text-xl">
            Are you sure?
          </h3>
          <p>Deleting an organization cannot be undone.</p>
          <div class="flex items-center justify-center mt-4">
            <%=
              button_to "Dlete",
                staff_organization_path(organization),
                method: :delete,
                class: "px-2 py-1 bg-error rounded text-fill"
            %>

            <button
              data-application-target="modalButton"
              data-modal-id="delete_organization_<%= organization.id %>_confirm"
              data-modal-action="close"
              class="ml-2 px-2 py-1 text-muted"
            >
              Cancel
            </button>
          </div>
        <% end %>

      <% end %>

    </div>
  </section>
<% end %>
