<%# Renders the edit form for a user %>

<%= turbo_frame_tag "edit_" + dom_id(@user) do %>
  <div class="w-[500px]">
    <h3 class="font-semibold text-xl mb-4">Edit User</h3>

    <%= form_with model: @user, url: organization_user_path(@user), method: :patch do |f| %>

      <div class="flex flex-col mb-4">
        <%= f.label "First Name", for: :first_name %>
        <%= f.text_field :first_name, class: "px-2 py-1 bg-input rounded" %>
        <%= render "application/forms/field_errors", entity: @user, field: :first_name %>
      </div>

      <div class="flex flex-col mb-4">
        <%= f.label "Last Name", for: :last_name %>
        <%= f.text_field :last_name, class: "px-2 py-1 bg-input rounded" %>
        <%= render "application/forms/field_errors", entity: @user, field: :last_name %>
      </div>

      <div class="flex flex-col mb-4">
        <%= f.label "Email", for: :email %>
        <%= f.text_field :email, class: "px-2 py-1 bg-input rounded" %>
        <%= render "application/forms/field_errors", entity: @user, field: :email_name %>
      </div>

      <div class="flex justify-center">
        <%= f.submit "Save", class: "text-fill px-4 py-1 bg-primary rounded" %>

        <button
          data-application-target="modalButton"
          data-modal-action="close"
          data-modal-id="<%= "edit_" + dom_id(@user) %>"
          class="ml-2 bg-muted rounded px-4 py-1 text-fill"
        >
          Cancel
        </button>
      </div>

    <% end %>
  </div>
<% end %>
